

body{
background:#77A6BD
}



h1{
color: #B5212A;
font-size: 72pt;
font-family: Oswald, sans-serif;
text-align: center;
text-decoration: underline;
}

p{
text-align:center;
font-size: 18pt;
font-family: 'IBM Plex Sans Arabic', sans-serif;
}

img {
width: 650px;
 }

.logo {
  margin-left: 900px;
  margin-top: 10px;
}
.food{
  width: 100px;
  padding: 100px;
}
.ate{
 float: right;
  width: 100px;
  margin-right: 550px;
  margin-top: -1000;
}

.center img{
 width: 800px;
  float: left;
  margin-top: -100px;
  margin-left: 850px;
}